body {
    background-color: #121212 !important;
    color: #f4f4f4 !important;
}
body a, body a.active, body a:active, body a:focus, body a:hover {
    color: #7d7d7d;
}
body a, body a.active, body a:active, body a:focus, body a:hover {
    color: #5f5f5f;
}
hr {
    border-color: #242424 !important;
}

.panel {
    background-color: #181818 !important;
}

.panel .panel-body.message-new, .panel .panel-body.message-new .ProseMirror-menubar, .panel .panel-heading {
    background-color: #181818 !important;
}
.panel h1 {
    color: #fafafa !important;
}
.panel .panel-body p {
    color: #fafafa !important;
}

.panel-profile .panel-profile-header .profile-user-photo-container {
    background-color: #181818 !important;
}
.media-list li {
    border-color: #242424 !important;
    border-left-color: transparent !important;
}
.media-list li.selected, .media-list li:hover { 
    background-color: #242424 !important;
}
.wall-entry-controls {
    background-color: #1f1f1f !important;
    color: #1f1f1f !important;
}

.form-control {
    background-color: #242424 !important;
    border-color: #242424 !important;
}

.btn-default {
    background-color: #242424 !important;
}

.label-default {
    background: #282829 !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #1f1f1f !important;
}
a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover, a.list-group-item:hover {
    background-color: #242424 !important;
}

.styleswitch .light {
    display: block !important;
}

.styleswitch .dark {
    display: none !important;
}